<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{ drinkerName }}</h1>
      <p class="drinker-details" *ngIf="drinkerDetails">
          {{drinkerDetails?.street}}<span *ngIf="drinkerDetails.street && drinkerDetails.city"></span>, {{drinkerDetails?.city}}
          <br>
          {{drinkerDetails?.phone}}
      </p>
    </div>
</div>
  
<div class="container">
    <div>
       <h2>Transactions</h2> 
    </div>
    <p-table [value]="transactionDetails" sortMode="multiple" sortField="price">
        <ng-template pTemplate="header">
          <tr>
            <th>ID</th>
            <th>Bar</th>
            <th>Date</th>
            <th>Time</th>
            <th>Total</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction>
          <tr>
            <td>{{ transaction.id }}</td>
            <td><a routerLink="/bars/{{ transaction.bar }}">{{ transaction.bar }}</a></td>
            <td>{{ transaction.date}}</td>
            <td>{{ transaction.time }}</td>
            <td>{{ transaction.total | currency }}</td>
          </tr>
        </ng-template>
      </p-table>
    <br>
    <br>
    <div id="ordered_most_graph"></div>
    <br>
    <br>
    <div id="transactions_graph"></div>

</div>
  